/* BYT OPSKRIFT STYLING */ 


#forside_bytopskrift {
    width: 88%;
    text-align: center;
}

#forside_bytopskrift h3 {
    position: absolute;
    left: 24%;
    top: 12%;
    font-size: 4vw;
    color: #FDFBF8;
}

#forside_bytopskrift p {
    position: absolute;
    top: 25%;
    left: 14%;
    text-align: center;
    color: #FBF1E0;
    font-size: 2.5vw;
    font-weight: 100;
    height: 10vh;
}

.byt_billede {
    background-color: #FDFBF8;
}


.bytopskrift img:hover {
    cursor: pointer;
}

.container{
    display:flex;
    position:absolute;
    left: 12%;
    top: 48%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bytitem{
    width: 300px;
    height: 375px;
    background-color: #FDFBF8;
    margin: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 62px;
    align-items: center;
}

.bytitem img{
  max-width: 100%;
}

.container h3 {
    font-size: 1.5vw;
}

/* BYT BUTTON STYLING */
.cta-button {
    background-color: #8B3333;
    color: #fff;
    margin-top: 5px;
    padding: 5px 20px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .cta-button:hover,
.cta-button-design:hover{
  background-color: #f24444;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }


/*  TIL FORSIDE STEPBYSTEP STYLING */
.stepbystep{
    background-color: #BAD7D3;
    display:flex;
    gap: 20px;
    position:absolute;
    padding: 5px;
    height: 45vh;
    left: 12%;
    top: 220%;
}

.step_item{
    margin: 20px;
    font-weight: 700;
    text-align: center;
    align-items: center;
}

.step_item p{
    padding-bottom: 8px;
}

.step_item img{
    max-width: 100%;
  }

#step2, #step4 {
    align-self: flex-end;
}

#step1, #step3 {
    align-self: flex-start;
  }

#kat {
  align-items: flex-end;  
}

.kvalitet_ingredienser{
    background-color: #FFF7EA;
    display:flex;
    gap: 20px;
    position:absolute;
    padding: 5px;
    height: 45vh;
    left: 12%;
    top: 280%;
    text-align: center;
}

.kvalitet_ingredienser img{
    flex-grow: 0;
}

.kvalitet_ingredienser p {
    padding-top: 25px;
}

.kvalitet_ingredienser h3 {
    padding-top: 25px;
}


/* DROPDOWN STYLING */

.dropdownbyt * {
    box-sizing: border-box;
}

.select_divbyt{
    display:flex;
    justify-content: center;
    justify-content: space-around;
}

.selectbyt {
    position:absolute;
    left: 49%;
    top: 38%;
    background-color: #FDFBF8;
    border: 1px solid #BAD7D3;
    border-radius: 15px;
    width: 12vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 5;
    font-weight: 100;
    font-size: 1vw;
}

.selectbyt:hover {
    background-color: #fef7ed;
}

.selectbyt img {
    width: 1.5vw;
    height: auto;
}

.selectbyt-clicked {
    border: 1px #BAD7D3 solid;
    box-shadow: 0 0 0.8em #BAD7D3;
}

.caretbyt {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}

.caretbyt-rotate {
    transform: rotate(180deg);
}

.menubyt {
    list-style: none;
    padding: 0.1em 0.2em;
    background-color: #FDFBF8;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: absolute;
    left: 54%;
    top: 42%;
    width: 17%;
    height: 35vh;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 3;
    transform: translateX(-50%);
}

.menubyt li {
    cursor: pointer;
    padding: 0.2em 0.1em;
    margin: 0.3em 0;
    font-weight: 100;
}

.menubyt li:hover {
    background-color: #fef7ed;
}

.activebyt {
    background: #FDFBF8;
}

.menubyt-open {
    display: block;
    opacity: 1;
}



/* Custom back button STYLING */ 
.custom-back-button img {
    width: 27px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.custom-back-button {
    position: absolute;
    left: 14%;
    top: 37%;
    color: #fff;
    padding: 5px 5px;
    font-size: 18px;
    padding-bottom: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 40px;
  }
  
  
  .custom-back-button {
    background-color: #FDFBF8;
  }
  .custom-back-button:hover {
    background-color: #BAD7D3;
}



